{%include "base.html"%}
{%load static%}

<head>
    <link rel="stylesheet" href="{%static 'css/login.css'%}">
</head>
<body>
    <div id='content', name="content">
        {%block content%}
        <br>
        <br>
        <br>
            <h1> USER LOGIN </h1>
            <u1>
                <br>
                <br>
                <br>
                <label>USERNAME:</label>
                <input type="text" id="username" size="15" />
                <br>
                <br>
                <label>PASSWORD:</label>
                <input type="text" id="password" size="15" />
                <br>
                <br>
                <br>
                <button>
                    <a href="home">LOG IN</a>
                </button>
                <br>
                <br>
                <br>
                <button>
                    <a href="signup">Not a user? Click here!</a>
                </button>
            </u1>
        {%endblock%}
    </div>
</body>